extends layout

block content
    h1 Dividends
    - if (errors)
            ul
              each val, index in errors
                li= val
    lu
      - if (dividends != null && dividends.length)
        -for (var i = 0; i < dividends.length; i++)
            -for (var j = 0; j < dividends[i].length; j++)
               li Bid Type ::  !{dividends[i][j].product}       |    Winner Horse Number :: !{dividends[i][j].winningSelections}  |       Dividend:: !{dividends[i][j].amount}
            br
      - else
        li sorry, no dividends found!
      br
      a(href='/') Back to Home page


